/* Mobide & tablet */
@media (max-width: 1023px) {
  :root {
    --header-height: 85px;
    --navbar-height: 0px;
  }

  .hide-on-mobile-tablet {
    display: none;
  }

  .header__cart-list {
    position: fixed;
    top: var(--header-height);
    right: 0;
    width: 100%;
    padding: 0 calc((100% - 644px) / 2);
  }

  .header__cart-list::before {
    display: none;
  }

  .app__banner {
    padding-top: calc(var(--header-height) + var(--header-sort-bar-height));
  }

  .header__sort-bar {
    display: flex;
  }

  .footer__download-qr {
    width: 50px;
    height: 50px;
  }

  .footer__download-app-img {
    height: 18px;
  }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
  .hide-on-tablet {
    display: none;
  }

  .header-with-search {
    margin: 0;
  }

  .header__cart {
    width: 80px;
    text-align: right;
  }

  .header__search-history-item img {
    height: 22px;
  }
}

@media (max-width: 739px) {
  .hide-on-mobile {
    display: none;
  }
}
